Web References/com.theprodev.www/common.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.theprodev.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.theprodev.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.theprodev.com/">
      <s:element name="CheckForUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProgramVersion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ProgramID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckForUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeASuggestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProgramVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProgramName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Suggestion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeASuggestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MakeASuggestionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EKC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateProductResult" type="tns:clsActivation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsActivation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderItemId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Activate" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ActivationCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrationKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderValid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateProductV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateProductV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateProductV2Result" type="tns:clsActivation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEKC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EKC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEKCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateEKCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportErrorDesktopError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProgramName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportErrorDesktopErrorResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitCustomerRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitCustomerRatingResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRandomProductFAQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomProductFAQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomProductFAQResult" type="tns:clsProductFAQ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsProductFAQ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Question" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckForUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CheckForUpdate" />
  </wsdl:message>
  <wsdl:message name="CheckForUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CheckForUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="MakeASuggestionSoapIn">
    <wsdl:part name="parameters" element="tns:MakeASuggestion" />
  </wsdl:message>
  <wsdl:message name="MakeASuggestionSoapOut">
    <wsdl:part name="parameters" element="tns:MakeASuggestionResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateProductSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateProduct" />
  </wsdl:message>
  <wsdl:message name="ActivateProductSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateProductResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateProductV2SoapIn">
    <wsdl:part name="parameters" element="tns:ActivateProductV2" />
  </wsdl:message>
  <wsdl:message name="ActivateProductV2SoapOut">
    <wsdl:part name="parameters" element="tns:ActivateProductV2Response" />
  </wsdl:message>
  <wsdl:message name="ValidateEKCSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEKC" />
  </wsdl:message>
  <wsdl:message name="ValidateEKCSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEKCResponse" />
  </wsdl:message>
  <wsdl:message name="ReportErrorDesktopErrorSoapIn">
    <wsdl:part name="parameters" element="tns:ReportErrorDesktopError" />
  </wsdl:message>
  <wsdl:message name="ReportErrorDesktopErrorSoapOut">
    <wsdl:part name="parameters" element="tns:ReportErrorDesktopErrorResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitCustomerRatingSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitCustomerRating" />
  </wsdl:message>
  <wsdl:message name="SubmitCustomerRatingSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitCustomerRatingResponse" />
  </wsdl:message>
  <wsdl:message name="GetRandomProductFAQSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomProductFAQ" />
  </wsdl:message>
  <wsdl:message name="GetRandomProductFAQSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomProductFAQResponse" />
  </wsdl:message>
  <wsdl:portType name="CommonSoap">
    <wsdl:operation name="CheckForUpdate">
      <wsdl:input message="tns:CheckForUpdateSoapIn" />
      <wsdl:output message="tns:CheckForUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MakeASuggestion">
      <wsdl:input message="tns:MakeASuggestionSoapIn" />
      <wsdl:output message="tns:MakeASuggestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateProduct">
      <wsdl:input message="tns:ActivateProductSoapIn" />
      <wsdl:output message="tns:ActivateProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateProductV2">
      <wsdl:input message="tns:ActivateProductV2SoapIn" />
      <wsdl:output message="tns:ActivateProductV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEKC">
      <wsdl:input message="tns:ValidateEKCSoapIn" />
      <wsdl:output message="tns:ValidateEKCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportErrorDesktopError">
      <wsdl:input message="tns:ReportErrorDesktopErrorSoapIn" />
      <wsdl:output message="tns:ReportErrorDesktopErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitCustomerRating">
      <wsdl:input message="tns:SubmitCustomerRatingSoapIn" />
      <wsdl:output message="tns:SubmitCustomerRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomProductFAQ">
      <wsdl:input message="tns:GetRandomProductFAQSoapIn" />
      <wsdl:output message="tns:GetRandomProductFAQSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonSoap" type="tns:CommonSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckForUpdate">
      <soap:operation soapAction="http://www.theprodev.com/CheckForUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeASuggestion">
      <soap:operation soapAction="http://www.theprodev.com/MakeASuggestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateProduct">
      <soap:operation soapAction="http://www.theprodev.com/ActivateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateProductV2">
      <soap:operation soapAction="http://www.theprodev.com/ActivateProductV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEKC">
      <soap:operation soapAction="http://www.theprodev.com/ValidateEKC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportErrorDesktopError">
      <soap:operation soapAction="http://www.theprodev.com/ReportErrorDesktopError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitCustomerRating">
      <soap:operation soapAction="http://www.theprodev.com/SubmitCustomerRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomProductFAQ">
      <soap:operation soapAction="http://www.theprodev.com/GetRandomProductFAQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonSoap12" type="tns:CommonSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckForUpdate">
      <soap12:operation soapAction="http://www.theprodev.com/CheckForUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeASuggestion">
      <soap12:operation soapAction="http://www.theprodev.com/MakeASuggestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateProduct">
      <soap12:operation soapAction="http://www.theprodev.com/ActivateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateProductV2">
      <soap12:operation soapAction="http://www.theprodev.com/ActivateProductV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEKC">
      <soap12:operation soapAction="http://www.theprodev.com/ValidateEKC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportErrorDesktopError">
      <soap12:operation soapAction="http://www.theprodev.com/ReportErrorDesktopError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitCustomerRating">
      <soap12:operation soapAction="http://www.theprodev.com/SubmitCustomerRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomProductFAQ">
      <soap12:operation soapAction="http://www.theprodev.com/GetRandomProductFAQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Common">
    <wsdl:port name="CommonSoap" binding="tns:CommonSoap">
      <soap:address location="http://www.theprodev.com/service/common.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonSoap12" binding="tns:CommonSoap12">
      <soap12:address location="http://www.theprodev.com/service/common.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>